name: Run daily arxiv

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 5 * * 1-5'
  workflow_dispatch:


permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run main
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_BASE_URL: ${{ secrets.OPENAI_BASE_URL }}
          SLACK_KEY: ${{ secrets.SLACK_KEY }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
          S2_KEY: ${{ secrets.S2_KEY }}
        run: |
          python main.py

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: arxiv-scanner-outputs
          path: out/
          retention-days: 5
